@import './fonts.css';
@import './variables.css';
@import './normalize.css';

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  width: 100%;
}
