:root {
  /* colors */
  --color-bg: #eef0f4;
  --color-surface: #ffffff;
  --color-primary: #7d77f6;
  --color-secondary: #f2f1e2;
  --color-text: #111827;
  --color-text-white: #f9fafe;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  /* radius */
  --radius-md: 10px;
  --radius-lg: 16px;

  /* shadow */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 2px 4px 12px rgba(0, 0, 1, 0.712);
  --shadow-light: 0px 1px 4px rgba(0, 0, 1, 0.712);

  /* font */
  --font-main: 'Roboto', system-ui, sans-serif;

  --font-base: 0.9rem;
  --font-lg: 1rem;
  --font-xl: 2rem;
  --font-sm: 0.75rem;
}
