.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 0;
  min-height: 100vh;
}

.header {
  width: 100vw;
  font-size: var(--font-lg);
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: var(--space-sm);
  text-align: center;
  box-shadow: var(--shadow-md);
  text-transform: uppercase;
}
.footer {
  flex-shrink: 1;
  height: 60px;
  background: var(--color-surface);
  padding: 1rem;
  width: 100%;
}
