.container {
  /* padding: var(--space-lg); */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  background-color: var(--color-secondary);
  justify-content: center;
}
.card {
  width: 50%;
  padding: var(--space-lg);
  /* box-shadow: var(--shadow-light); */
  /* border-radius: var(--radius-lg); */
  /* background-color: #f2e8cf; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-lg);
  height: 100%;
  justify-content: space-between;
  padding: var(--space-lg);
}
.button {
  color: white;
  background-color: #164c30;
  width: 100px;
  height: 100vh;
}
.title {
  padding-top: 30px;
  font-weight: 600;
  font-size: var(--font-xl);
}
.img {
  width: calc(50%);
}
.body {
  color: var(--color-text-secondary);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.views {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-md);
}
