.container {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-sm);
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
